@mixin gradientText {
    color: #520000;
}

@mixin h1Style {
    width: fit-content;
    margin-bottom: 30px;
    font-size: 64px;
    color: #f5f5f5;
}

@mixin h2Style {
    width: fit-content;
    font-size: 48px;
    color: #520000;
}

@mixin h3Style {
    width: fit-content;
    font-size: 40px;
    color: #520000;
}

@mixin h4Style {
    width: fit-content;
    font-size: 32px;
    color: #520000;
}

@mixin pStyle {
    width: fit-content;
    font-size: 20px;
    color: black;
}