@use "mixins";

header {
    width: 100%;
    height: 10vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.1);

    a {
        text-decoration: none;
    }

    .logo-link {
        @include mixins.gradientText;
        font-size: 24px;
        font-weight: bold;
        height: 50px;
        display: flex;
        align-items: center;
        transition: all .4s ease;

        i {
            margin-right: 10px;
        }
    }

    .header-link ul {
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: none;
        font-size: 18px;
        
        a {
            position: relative;
            color: #520000;
            font-weight: bold;
            display: flex;
            flex-direction: column;

            &::after {
                content: "";
                position: absolute;
                border-radius: 5px;
                width: 100%;
                transform: scaleX(0);
                height: 3px;
                bottom: -5px;
                left: 0px;
                transform-origin: bottom left;
                transition: all 0.4s;
                background: #520000;
            }
    
            &:hover {
                @include mixins.gradientText;

                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
                
            }
        }
    }

    .btn-burger {
        display: none;
    }
}

@media screen and (max-width: 890px) {
    header {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 810px) {
    header {
        padding: 10px 80px;
        z-index: 2;

        .header-link {
            position: absolute;
            background-color: #f5f5f5;
            right: -50%;
            bottom: 0;
            height: 690px;
            width: 50%;
            z-index: 3;
            border-left: 5px solid #520000;
            opacity: 0;
            transition: all .5s ease;

            ul {
                flex-direction: column;
                margin-top: 100px;
                height: 200px;
                justify-content: space-between;
                
                a {
                    font-size: 20px;
                    color: #520000;
                }
            }
        }

        .header-link.active {
            right: 0;
            opacity: 1;
        }

        .btn-burger {
            display: flex;
            flex-direction: column;
            height: 40px;
            width: 50px;
            justify-content: space-between;
            align-items: flex-end;
            cursor: pointer;
            

            &:hover hr {
                width: 100%;
            }

            hr {
                border: none;
                height: 3px;
                background-color: #520000;
                transition: .4s ease;
                
            }

            .st-bar {
                width: 100%;
            }

            .nd-bar {
                width: 40%;
            }

            .rd-bar {
                width: 80%;
            }
        }

        .btn-burger.active {
            align-items: center;

            &:hover hr {
                width: 50%;
            }

            .st-bar{
                transform: translateY(19px) rotate(-45deg);
            }

            .nd-bar {
                display: none;
            }

            .rd-bar {
                transform: translateY(-19px) rotate(45deg);
                width: 100%;
            }
        }
    }
}


main {
    position: relative;
    z-index: 0;
}

.cover-banner {
    background-image: url('https://medias.monuments-nationaux.fr/var/cmn_inter/storage/images/mediatheque/mediatheque-commune/images/pantheon-panoramique/1217289-1-fre-FR/Pantheon-Panoramique_background-home-expo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 100px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90vh;
        z-index: 1;
        background-color: rgba($color: #000000, $alpha: 0.2);
    }

    div {
        width: 50%;
        position: relative;
        z-index: 2;

        h1 {
            @include mixins.h1Style;
            color: #ffffff;
        }

        p {
            @include mixins.pStyle;
            color: #f5f5f5;
            margin-bottom: 50px;
        }

        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 40%;
            height: 50px;
            z-index: 2;
            background-color: #520000;
            text-decoration: none;
            color: #ffffff;
            font-size: 24px;
            transition: all .4s ease;

            span {
                position: absolute;
                right: 28%;
                transition: all .4s ease;
            }

            i {
                position: absolute;
                right: 0;
                opacity: 0;
                transition: all .4s ease;
            }

            &:hover {
                span {
                    right: 38%;
                }

                i {
                    right: 10%;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .cover-banner {
        div {
            a {
                width: 40%;
                height: 50px;

                span {
                    right: 30%;
                }

                &:hover {
                    span {
                        right: 40%;
                    }

                    i {
                        right: 10%;
                    }
                }
            }
        } 
    }
}


@media screen and (max-width: 1120px) {
    .cover-banner {
        div {
            width: 60%;
        }
    }
}

@media screen and (max-width:1000px) {
    .cover-banner {
        div {
            a {
                width: 50%;
            }
        }
    }
}

@media  screen and (max-width: 900px) {
    .cover-banner {
        justify-content: center;
        
        div {
            width: 80%;

            a {
                width: 40%;

                span {
                    right: 28%;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .cover-banner {
        div {
            a {
                width: 50%;
                margin: auto;
            }
        }
    }
}