:root {
  --background-gradient: linear-gradient(to right, #520000 8%,#F50000 40%, #FFA600 91%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header a {
  text-decoration: none;
}
header .logo-link {
  color: #520000;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}
header .logo-link i {
  margin-right: 10px;
}
header .header-link ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 18px;
}
header .header-link ul a {
  position: relative;
  color: #520000;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
header .header-link ul a::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0px;
  transform-origin: bottom left;
  transition: all 0.4s;
  background: #520000;
}
header .header-link ul a:hover {
  color: #520000;
}
header .header-link ul a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .btn-burger {
  display: none;
}

@media screen and (max-width: 890px) {
  header {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 810px) {
  header {
    padding: 10px 80px;
    z-index: 2;
  }
  header .header-link {
    position: absolute;
    background-color: #f5f5f5;
    right: -50%;
    bottom: 0;
    height: 90vh;
    width: 50%;
    z-index: 3;
    border-left: 5px solid #520000;
    opacity: 0;
    transition: all 0.5s ease;
  }
  header .header-link ul {
    flex-direction: column;
    margin-top: 100px;
    height: 200px;
    justify-content: space-between;
  }
  header .header-link ul a {
    font-size: 20px;
    color: #520000;
  }
  header .header-link.active {
    right: 0;
    opacity: 1;
  }
  header .btn-burger {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 50px;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
  }
  header .btn-burger:hover hr {
    width: 100%;
  }
  header .btn-burger hr {
    border: none;
    height: 3px;
    background-color: #520000;
    transition: 0.4s ease;
  }
  header .btn-burger .st-bar {
    width: 100%;
  }
  header .btn-burger .nd-bar {
    width: 40%;
  }
  header .btn-burger .rd-bar {
    width: 80%;
  }
  header .btn-burger.active {
    align-items: center;
  }
  header .btn-burger.active:hover hr {
    width: 50%;
  }
  header .btn-burger.active .st-bar {
    transform: translateY(19px) rotate(-45deg);
  }
  header .btn-burger.active .nd-bar {
    display: none;
  }
  header .btn-burger.active .rd-bar {
    transform: translateY(-19px) rotate(45deg);
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  header {
    padding: 10px 10px;
  }
  header .header-link.active {
    width: 70%;
  }
}
main {
  position: relative;
  z-index: 0;
}

.cover-banner {
  background-image: url("https://medias.monuments-nationaux.fr/var/cmn_inter/storage/images/mediatheque/mediatheque-commune/images/pantheon-panoramique/1217289-1-fre-FR/Pantheon-Panoramique_background-home-expo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  padding: 50px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 100px;
}
.cover-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.cover-banner div {
  width: 40%;
  position: relative;
  z-index: 2;
}
.cover-banner div h1 {
  width: fit-content;
  margin-bottom: 30px;
  font-size: 64px;
  color: #f5f5f5;
}
.cover-banner div p {
  width: fit-content;
  font-size: 20px;
  color: black;
  color: #f5f5f5;
  margin-bottom: 50px;
}
.cover-banner div a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 50%;
  height: 50px;
  z-index: 2;
  background-color: #520000;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}
.cover-banner div a span {
  margin-top: 0.5px;
  transform: translateX(1em);
  transition: all 0.4s;
}
.cover-banner div a i {
  transform: translateX(1em);
  opacity: 0;
  transition: all 0.4s;
}
.cover-banner div a .responsive-icon {
  display: none;
}
.cover-banner div a:hover span {
  transform: translateX(0);
}
.cover-banner div a:hover i {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 1120px) {
  .cover-banner div {
    width: 60%;
  }
  .cover-banner div a {
    width: 40%;
  }
}
@media screen and (max-width: 900px) {
  .cover-banner {
    justify-content: center;
  }
  .cover-banner div {
    width: 80%;
  }
}
@media screen and (max-width: 750px) {
  .cover-banner {
    background-position: 25% 25%;
  }
  .cover-banner div a {
    margin: auto;
  }
}
@media screen and (max-width: 680px) {
  .cover-banner {
    padding: 0;
  }
  .cover-banner div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .cover-banner div a {
    width: 70%;
  }
  .cover-banner div a span {
    transform: translateX(0);
  }
  .cover-banner div a i {
    display: none;
    transform: translateX(0);
  }
  .cover-banner div a .responsive-icon {
    display: block;
    position: static;
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .cover-banner div {
    width: 90%;
  }
  .cover-banner div a {
    width: 60%;
  }
}
footer {
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #520000;
}
footer p {
  font-weight: bold;
}
footer p a {
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
