.main-title {
    background-color: #520000;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        position: relative;
    }

    div::before, div::after {
        content: "";
        position: absolute;
        height: 50px;
        width: 50px;
    }

    .crypt-title-border {
        height: 20vh;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            height: 5px;
            width: 75%;
            left: 0;
            top: 0;
            background-color: #ffffff;
        }

        &::after {
            height: 5px;
            width: 75%;
            right: 0;
            bottom: 0;
            background-color: #ffffff;
        }

        h1 {
            color: #ffffff;
            font-size: 48px;
        }
    }

    .hist-title-border {
        height: 20vh;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            height: 50px;
            width: 50px;
            left: 0;
            top: 0;
            border-top: 5px solid #ffffff;
            border-left: 5px solid #ffffff;
        }

        &::after {
            height: 50px;
            width: 50px;
            right: 0;
            bottom: 0;
            border-bottom: 5px solid #ffffff;
            border-right: 5px solid #ffffff;
        }

        h1 {
            color: #ffffff;
            font-size: 48px;
        }
    }
}

.key-history {
    width: 80%;
    margin: auto;

    .history-card {
        background-color: #F5F5F5;
        text-align: center;
        padding: 2em 3em;
        box-shadow: 0 0 16px rgba($color: #000000, $alpha: .2);
        margin: 80px 0;

        .history-title {
            width: 60%;
            margin: auto;
            margin-bottom: 2em;
            padding: 1em;
            position: relative;

            &::before, &::after {
                content: "";
                height: 30px;
                width: 30px;
                position: absolute;
            }

            &::before {
                left: 0;
                top: 0;
                border-top: 3px solid #520000;
                border-left: 3px solid #520000;
            }

            &::after {
                right: 0;
                bottom: 0;
                border-bottom: 3px solid #520000;
                border-right: 3px solid #520000;
            }

            h3 {
                font-size: 24px;
                color: #520000;
            }
        }

        .history-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            p {
                width: 100%;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    margin-top: 20px;
                    width: 90%;
                    background-color: #dadada;
                    padding: 20px 20px;
                    border-left: 3px solid #520000;
                }

                
            }

            ol {
                margin-top: -20px;
                width: 90%;
                background-color: #dadada;
                padding: 20px 20px;
                border-left: 3px solid #520000;

                li {
                    width: 90%;
                    margin: 10px auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ;
                    list-style: decimal;
                    line-height: 20px;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .main-title {
        .hist-title-border, .crypt-title-border {
            width: 60%;
        }
    }
}

@media screen and (max-width: 800px) {
    .key-history {
        width: 100%;
    
        .history-card {
            width: 90%;
            margin: 80px auto;
    
            .history-title {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .main-title {
        .hist-title-border, .crypt-title-border {
            width: 80%;
        }
    }
    
    .key-history {
        width: 100%;
    
        .history-card {
            width: 90%;
            margin: 80px auto;
    
            .history-title {
                width: 100%;
            }

            .history-content {
                text-align: justify;

                p span, ol {
                    width: 100%;
                }
            }

        }
    }
}